
h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.header {
  background-image: url("../images/the-flatiron-building.jpg");
}

.header h3 {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}

a {
  color: white;
}
